[class*=_border_] {
    position: relative
}
[class*=_border_]:after {
    content: "";
    position: absolute;
    pointer-events: none;
    box-sizing: border-box;
    top: -50%;
    left: -50%;
    right: -50%;
    bottom: -50%;
    transform: scale(.5);
    border-width: 0;
    border-style: solid;
    border-color: #ddd;
}
._border_top:after {
    border-top-width: 1px;
}
._border_left:after {
    border-left-width: 1px;
}
._border_right:after {
    border-right-width: 1px;
}
._border_bottom:after {
    border-bottom-width: 1px;
}
._border_all:after {
    border-width: 1px;
}