/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-game_bti {
  background-image: url(/Users/jaqen/Desktop/h5/src/assets/sprite/out/base.png);
  background-position: 0px 0px;
  width: 312px;
  height: 231px;
}
.icon-test {
  background-image: url(/Users/jaqen/Desktop/h5/src/assets/sprite/out/base.png);
  background-position: 0px -231px;
  width: 68px;
  height: 47px;
}
