.icon-footer { background-image: url(~@/assets/sprite/out/footer.png);background-size: 198px 92px;}
.icon-footer-wechat { width: 86px; height: 86px; background-position: -112px 0px; }
.icon-footer-weibo { width: 92px; height: 92px; background-position: 0px 0px; }